@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide horizontal scrollbar but keep scroll functionality */
.scrollbar-hide {
  scrollbar-width: none;            /* Firefox */
  -ms-overflow-style: none;         /* IE 10+ */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;                    /* Chrome, Safari, Opera */
}

/* this block for use the animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End at normal position */
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease-out forwards; /* Duration and easing */
  animation-delay: calc(var(--index) * 0.2s); /* Stagger by 0.2s per item */
}

media-controller {
  --media-control-background: #111;   /* background */
  --media-control-hover-background: #333;
  --media-icon-color: white;          /* icon color */
  --media-range-track-color: #555;
  --media-range-thumb-color: #22c55e; /* green progress thumb */
}
