@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kantumruy Pro", sans-serif;
}

.color {
    background-color: #0A96A4;
    /* --customBlue: #0A96A4; */
}

.bgOragne{
    background-color: #FF6E09;
}

.bgblue{
    background-color: #0060B4;
}

.textblue {
  @apply text-[#0060B4];
}

.textorainge{
    background-color: #FF6E09;
}

.hover-scale5 {
    @apply transform transition-transform duration-300 hover:scale-105;
}

.hover-scale10 {
    @apply transform transition-transform duration-300 hover:scale-110;
}


